.svgtxt{
  -webkit-touch-callout: none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  pointer-events: none;
}

.sticky {
    background-color: #FFFFFF;
    position:fixed;
    width:100%;
    z-index:100;
}

.stacker {
    max-width: 8in;
    margin: auto;
}

.marker {
    display:block;
    margin:0in;
}

.EOLINE {
    stroke: #090;
    fill: none;
    stroke-width: 2px;
}

.FDLINE {
    stroke: #900;
    fill: none;
    stroke-width: 2px;
}


.DPLINE {
    stroke: #009;
    fill: none;
    stroke-width: 2px;
}


.INVIS {
    stroke: none;
    fill: none;
}

.CI {
    color: #B00;
    fill: #F1DDDD;
    stroke: #961E18;
    stroke-width: .05px;
}

.CE {
    color: #B66;
    fill: #595;
    stroke: #000000;
    stroke-width: .05px;
}

.LS {
    stroke: #000000;
    stroke-width: 2px;
}

.LN {
    stroke: #434343;
    stroke-width: .15px;
}

.BN {
    fill: none;
    stroke: none;
    stroke-width: .5px;
}

.ZOMBIE {
    fill: #666;
    stroke: none;
    pointer-events: none;
}

.BS {
    fill: #000;
    stroke: none;
    stroke-width: .5px;
}


.P, .R, .INLINE {
    display: inline-block;
    vertical-align: middle;
}
